.chat-header {
	@include setFlex(row, flex-start, center);
	position: relative;
	height: 5rem;
	background-color: getColors(btn-status-working);
	color: white;
	padding: 0 1rem;
	width: 100%;

	&-close {
		font-size: 2rem;
		margin-left: auto;
		@include responsiveHover() {
			opacity: 0.8;
		}
	}

	&-wrapper {
		@include setFlex(column, center, flex-start);

		position: relative;
		color: getColors(primary);
		min-width: 0;
		margin-right: 1.5rem;

		&__title {
			color: getColors(primary);
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 100%;

			&::first-letter {
				text-transform: capitalize;
			}
		}
		&__sub-title {
			// color: getColors(btn-status-working-faded);
			font-weight: 600;
			span {
				color: white;
				font-weight: 600;
			}
		}
	}
}
@import './chatHeaderResponsive';
