.notif {
	position: relative;
	margin-top: 1rem;
	margin-right: 5rem;

	&-bell-wrapper {
		position: relative;
		&:before,
		&:after {
			color: #fff;
			text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
		}

		&:after {
			font-family: Arial;
			font-size: 0.7em;
			font-weight: 700;
			position: absolute;
			top: -15px;
			right: -15px;
			padding: 5px 8px;
			line-height: 100%;
			border: 2px solid white;
			border-radius: 60px;
			background: getColors(btn-status-working);
			opacity: 0;
			content: attr(data-count);
			opacity: 0;
			transform: scale(0.5);
			transition: transform, opacity;
			transition-duration: 0.3s;
			transition-timing-function: ease-out;
		}

		&.show-count:after {
			transform: scale(1);
			opacity: 1;
		}
	}
	.wrapper {
		position: relative;
		transition: all 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
		width: 3.5rem;
		height: auto;
		border-radius: 5rem;

		svg {
			display: inline-block;
			position: relative;
			width: 100%;

			path,
			circle {
				cursor: pointer;
			}
			&.active path {
				fill: getColors(btn-status-working) !important;
			}

			&.active circle {
				fill: red !important;
			}
		}

		.bell {
			fill: #fff;
			&.animate {
				animation: clapper 1.7s ease-in-out infinite;
			}
		}
		@keyframes clapper {
			0% {
				transform: translateX(10px);
			}
			25% {
				transform: translateX(60px);
			}
			50% {
				transform: translateX(-40px);
			}
			75% {
				transform: translateX(-10px);
			}
			100% {
				transform: translateX(10px);
			}
		}
	}
	.notification {
		display: flex;
		position: absolute;
		background: white;
		max-height: 70vh;
		min-height: 10rem;
		min-width: 20rem;
		width: fit-content;
		flex-direction: column;
		transform: scale(1);
		transition: all 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
		right: 0;
		margin: 0 auto;
		left: calc(0% - 8.2rem);
		margin-top: 1rem;
		box-shadow: $little-shadow;
		z-index: 99;

		border-radius: 10px;
		border-color: getColors(fade-selected);
		border-top: 2px solid;
		border-top-color: getColors(btn-status-working);

		&.hide {
			transform: scale(0);
		}

		&:after {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			background: getColors(btn-status-working);
			transform: rotate(45deg);
			top: -6px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		&-header {
			@include setFlex(row, space-between, center);
			position: relative;
			padding: 0.8rem 1rem;
			background: white;
			color: getColors(primary);
			border-bottom: 2px solid;
			border-color: getColors(fade-selected);
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;

			&__title {
				font-family: $sub;
				text-transform: uppercase;
				letter-spacing: 0.1rem;
			}

			&__mark {
				@include setFlex(row, center, center);

				position: relative;
				font-family: $main;

				font-weight: 600;
				span {
					margin-right: 0.4rem;
				}

				i {
					@include customHover();

					color: getColors(btn-status-working);
					border-radius: 50%;
				}
			}
		}

		&-wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;

			svg {
				width: 100%;
				height: auto;
				padding: 1rem;
			}

			.section {
				@include setFlex(row, center, center);

				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 1px solid;
					border-color: getColors(fade-selected);
				}

				&.marked-as-read {
					.section-top__content {
						opacity: 0.7;
					}
					.section-top__active-identifier {
						visibility: hidden;
					}
				}

				&-wrapper {
					@include setFlex(column, center, center);
					margin-right: 1rem;
				}

				&-top {
					@include setFlex(row, center, center);
					&__avatar {
						margin-right: 0.5rem;
						img {
							border-radius: 50%;
						}
					}
					&__content {
						width: 11rem;
						margin-bottom: 1rem;
						&-message {
							color: getColors(primary-less-fade);
							.highlight {
								color: getColors(primary);
								font-weight: 600;
								text-transform: capitalize;
							}
						}
						&-date {
							color: getColors(btn-status-working);
							font-weight: 600;
							margin-top: 0.3rem;
						}
					}
					&__active-identifier {
						color: getColors(btn-status-working);
					}
				}

				&-bottom {
					@include setFlex(row, space-evenly, center);
					width: 100%;
					button {
						padding: 0.35rem 0.8rem;
						border-radius: 0.4rem;
						border: none;
						font-weight: bold;
						letter-spacing: 1px;
						outline: none;
						transition: 150ms linear;
						text-align: center;

						&:nth-of-type(1) {
							background-color: getColors(btn-status-working);
							color: white;
						}

						&:nth-of-type(2) {
							background-color: getColors(fade-selected);
							color: getColors(primary);
						}

						&:disabled {
							opacity: 0.8;
						}

						&.remove {
							display: none;
						}

						@include responsiveHover {
							opacity: 0.8;
						}
					}
				}

				@include responsiveHover() {
					background-color: getColors(gray-fade);
				}
			}

			@include customScrollbar();
		}
	}
}
@import './notificationResponsive';
