.dropdown-content-add-members {
	display: none;
	opacity: 0;
	position: absolute;
	background-color: white;
	font-family: $main;
	margin-top: 1rem;
	text-align: center;
	box-shadow: $little-shadow;
	transition: 150ms ease-in-out;
	z-index: 1;
	text-transform: capitalize;
	cursor: pointer;
	padding: 1rem;
	text-align: left;
	width: 13rem;
	right: 0;

	border-radius: 10px;
	border-color: getColors(fade-selected);
	border-top: 2px solid;
	border-top-color: getColors(btn-status-working);

	&.active {
		display: block;
		opacity: 1;
	}

	&::after {
		position: absolute;
		display: block;
		content: '';
		height: 10px;
		width: 10px;
		background-color: getColors(btn-status-working);
		z-index: -1;
		left: -25px;
		right: 0;
		margin: 0 auto;
		transform: rotate(40deg);
		top: -5px;
		box-shadow: $more-shadow;
	}

	form {
		@include setFlex(column, center, center);

		.input-group {
			@include setFlex(column, center, center);
			width: 100%;
			margin-bottom: 1rem;
			&__label {
				@include setFlex(row, center, center);
				color: getColors(primary);
				margin-right: auto;
				margin-bottom: 0.5rem;
				label {
					width: max-content;
					margin-right: 0.5rem;
					font-weight: 600;
				}
				i {
					@include responsiveHover() {
						color: getColors(primary);
					}
				}
			}
			input {
				color: getColors(primary);
				width: 100%;
				padding: 0.3rem;
				outline: none;
			}
		}
		button {
			@include customButtonWithHover(white, getColors(btn-status-working));
			text-transform: capitalize;
			&:disabled {
				opacity: 0.8;
			}
		}

		.add-members-loading {
			color: getColors(btn-status-working);
			i {
				margin-right: 0.5rem;
			}
		}
	}
	.error {
		text-align: center;
		margin-top: 0.3rem;
		text-transform: none;
		color: getColors(primary);
	}
}
@import './addMembersResponsive';
