.login-form {
	@include setFlex(column, center, center);

	position: relative;
	background: getColors(secondary-fade);
	border-radius: 1rem;
	max-width: 30rem;
	width: 25rem;
	height: 20rem;
	margin: 1rem;
	padding: 1.5rem 1rem;

	&__bg {
		position: absolute;
		max-width: 100%;
		max-height: 100%;
		bottom: 0;
	}
	.fa-spin {
		margin: 1rem 0;
		font-size: 2rem;
		color: getColors(primary);
	}
	.error {
		text-decoration: none;
		margin-bottom: 0.3rem;
		color: red;
	}

	.button {
		padding: 0.35rem 0.8rem;
		border-radius: 0.3rem;
		border: none;
		color: white;
		font-weight: 600;
		letter-spacing: 1px;
		outline: none;
		transition: 150ms linear;
		z-index: 1;
		cursor: pointer;
		text-align: center;
		&.google-button {
			@include setFlex(row, space-evenly, center);
			background: getColors(button-1);
			margin-bottom: 1.5rem;

			svg {
				margin-right: 0.2rem;
			}
		}
		&.form-button {
			background: getColors(button-2);
			text-transform: uppercase;
			margin-top: 1rem;
		}
		@include trueHover(0.9);
	}

	form {
		@include setFlex(column, center, center);
		position: relative;
		width: 90%;
		border-top: 2px solid;
		border-color: getColors(primary);
		padding-top: 1.5rem;
		.grouped-input {
			position: relative;
			display: flex;
			width: 100%;
			background: getColors(primary);
			color: white;
			border-radius: 0.5rem;

			label {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				font-weight: 600;
				pointer-events: none;
				transition: 150ms all linear;
				color: getColors(secondary-fade);
			}
			&:nth-of-type(1) {
				margin-bottom: 0.5rem;
			}

			input {
				padding: 0 1rem;
				padding-bottom: 0.5rem;
				margin-bottom: 0.5rem;
				padding-top: 1.2rem;
				outline: none;
				background: transparent;
				border: none;
				border-bottom: 2px solid;
				text-align: center;
				width: 100%;
				border-color: getColors(secondary-fade);
				&:focus,
				&:valid {
					border-color: getColors(secondary-fade);
					color: white;
					& ~ label {
						width: 30%;
						height: 30%;
						left: 0.2rem;
						top: 0.2rem;
						margin-bottom: 1rem;
						color: getColors(secondary);
						opacity: 1;
						justify-content: flex-start;
					}
				}

				@include removeAutoCompleteBG(#fff);
			}
		}
	}
}
@import './loginFormResponsive';
