.login-form {
	@include setFlex(column, center, center);

	position: relative;
	background: getColors(secondary-fade);
	border-radius: 1rem;
	max-width: 30rem;
	width: 25rem;
	height: 20rem;
	margin: 1rem;
	padding: 1.5rem 1rem;

	&__bg {
		position: absolute;
		max-width: 100%;
		max-height: 100%;
		bottom: 0;
		z-index: 0;
	}
	.fa-spin {
		margin: 1rem 0;
		font-size: 2rem;
		color: getColors(primary);
	}
	.error {
		text-decoration: none;
		margin-bottom: 0.3rem;
		color: getColors(btn-status-stuck);
		font-weight: 600;
		z-index: 1;
		background-color: getColors(primary);
		padding: 0.1rem 0.3rem;
		border-radius: 0.2rem;
		margin-top: 1rem;
		span {
			color: white;
		}
	}

	.google-button {
		@include setFlex(row, space-evenly, center);
		@include customButtonWithHover(white, getColors(button-1)) {
			opacity: 0.8;
		}
		margin-bottom: 1.5rem;

		svg {
			margin-right: 0.3rem;
		}
	}

	form {
		@include setFlex(column, center, center);
		position: relative;
		width: 90%;
		border-top: 2px solid;
		border-color: getColors(primary);
		padding-top: 1.5rem;
		.grouped-input {
			position: relative;
			display: flex;
			width: 100%;
			background: getColors(primary);
			color: white;
			border-radius: 0.5rem;
			margin-bottom: 0.5rem;

			label {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				font-weight: 600;
				pointer-events: none;
				transition: 150ms all linear;
				color: getColors(secondary-fade);
			}

			input {
				padding: 0 1rem;
				padding-bottom: 0.5rem;
				margin-bottom: 0.5rem;
				padding-top: 1.2rem;
				outline: none;
				background: transparent;
				border: none;
				border-bottom: 2px solid;
				text-align: center;
				width: 100%;
				border-color: getColors(secondary-fade);
				&:focus,
				&:valid,
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:active {
					border-color: getColors(secondary-fade);
					color: white;
					& ~ label {
						width: 30%;
						height: 30%;
						left: 0.2rem;
						top: 0.2rem;
						margin-bottom: 1rem;
						color: getColors(secondary);
						opacity: 1;
						justify-content: flex-start;
					}
					// autofill bg config to remove the bg color
					// The time it takes to remove the bg color
					transition: background-color 5000s ease-in-out 0s;
					-webkit-text-fill-color: #fff !important;
				}
			}
		}

		button {
			@include customButtonWithHover(white, getColors(button-2)) {
				opacity: 0.8;
			}
			margin-top: 1rem;
		}
	}

	&__gotoreg {
		margin-top: 1rem;
		z-index: 1;
		color: white;
		font-weight: 600;
		transition: 200ms all linear;
		text-decoration: underline transparent;
		cursor: pointer;
		@include responsiveHover {
			text-decoration: underline;
		}
	}
}
@import './loginFormResponsive';
