.chat-footer {
	@include setFlex(column, center, center);
	background: white;
	position: relative;
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;

	&-upload-percent {
		position: relative;
		display: block;
		height: 0.5rem;
		width: 0%;
		border-radius: 2rem;
		margin-bottom: 1rem;
		margin-right: auto;
		opacity: 0.8;
		background: getColors(btn-status-completed);
		transition: 150ms all linear;
		visibility: none;

		&.loading {
			width: 50%;
			visibility: visible;
		}
		&.completed {
			animation-name: complete, begone;
			animation-duration: 150ms, 150ms;
			animation-delay: 0ms, 1000ms;
			animation-timing-function: ease-in, ease-out;
			animation-iteration-count: 1, 1;
		}
	}

	@keyframes complete {
		from {
			width: 100%;
			opacity: 1;
		}
	}

	@keyframes begone {
		to {
			opacity: 0;
		}
	}

	&-message {
		@include setFlex(row, center, center);

		width: 100%;
		&__input {
			@include setFlex(row, center, center);

			box-shadow: $little-shadow;
			background: white;
			width: 100%;
			margin-right: 1.5rem;
			border-radius: 10rem;
			padding: 0 1rem;
			border: 1px solid;
			border-color: getColors(fade-selected);

			&-text {
				width: 100%;
				margin-right: 0.5rem;

				padding: 0.5rem 0rem;
				outline: none;
				border-color: getColors(primary-fade);
				border: none;
			}
			&-emoji,
			&-attachment {
				color: getColors(secondary-fade);
				transition: 150ms ease-in-out;

				@include responsiveHover() {
					color: getColors(btn-status-working);
				}
			}
			&-emoji {
				margin-right: 0.2rem;
				position: relative;

				.emoji-picker-react {
					position: absolute;
					bottom: 100%;
					left: -10rem;
					width: 13rem;
					opacity: 0;
					position: absolute;
					transition: 150ms linear;
					margin-bottom: 1rem;
					border-radius: 1rem;
					visibility: hidden;

					&.active {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		&__send {
			border-radius: 50%;
			outline: none;
			border: none;
			background: getColors(fade-selected);
			color: getColors(primary);
			padding: 0.5rem;

			&:disabled {
				opacity: 0.8 !important;
			}

			&:not(:disabled) {
				@include responsiveHover() {
					color: getColors(btn-status-working);
				}
			}
		}
	}
}
@import './chatFooterResponsive';
