.dropdown-content-profile-settings {
	display: none;
	opacity: 0;
	position: absolute;
	background-color: #f9f9f9;
	font-family: $main;
	width: 60%;
	left: 75%;
	text-align: center;
	box-shadow: $little-shadow;
	z-index: 1;
	cursor: pointer;
	transition: 150ms ease-in-out;

	border-radius: 10px;
	border-color: getColors(fade-selected);
	border-left: 2px solid;
	border-left-color: getColors(btn-status-working);

	&.active {
		display: block;
		opacity: 1;
	}

	&::after {
		position: absolute;
		display: block;
		content: '';
		height: 10px;
		width: 10px;
		background-color: getColors(btn-status-working);
		z-index: -1;
		left: -3.61%;
		transform: rotate(40deg);
		bottom: 30%;
		box-shadow: $more-shadow;
	}

	li {
		margin: 0.2rem 1rem;
		color: getColors(primary);
		padding: 12px 16px;
		text-decoration: none;
		text-transform: capitalize;
		font-weight: 600;
		transition: 150ms ease-in-out;

		@include responsiveHover() {
			color: getColors(primary-fade);
		}

		&:nth-child(odd) {
			border-bottom: 1px solid;
			border-color: getColors(fade-selected);
		}
		&:not(:last-child) {
			@include responsiveHover() {
				border-color: getColors(selected);
			}
		}
	}
}
@import './userSettingsResponsive';
