// font size variables
$font-size-s: (
	// 28.8px
	'stand-out': 1.5rem,
	// 20px
	'normal-1': 1.25rem,
	// 16px
	'normal-2': 1rem,
	// 14px
	'normal-3': 0.875rem,
	// 12px
	'normal-4': 0.75rem
);

$font-size-l: (
	'stand-out': 1.8rem,
);

// colors
$colors: (
	'primary': #2f2e41,
	'primary-fade95': #2f2e41ed,
	'primary-fade': #a1a1a1,
	'primary-less-fade': #727272,
	'secondary': #828282,
	'secondary-fade': #82828290,
	'secondary-more-fade': #f3f3f3,
	'button-1': #277eef,
	'button-2': #6c63ff,
	'selected': #cecece,
	'fade-selected': #e5e5e5,
	'border': #707070,
	'border-fade': #5a5a5a,
	'border-dark': #5d5d5d,
	'btn-status-stuck': #ff0000,
	'btn-status-working': #6c63ff,
	'btn-status-working-faded': #b0abff,
	'btn-status-completed': #59df62,
	'gray-fade': #f6f6f6,
);

// custom
$little-shadow: 0px 3px 8px #00000025;
$more-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
