.overview {
	position: relative;
	padding: 0 2rem;
	padding-top: 1rem;
	padding-bottom: 0;
	width: 100%;
	flex: 1;
	overflow: auto;

	&-container {
		@include setFlex(column, center, center);
		min-height: min-content;
	}
	&-bg {
		background: url(../../assets/svg/empty-svg.svg);
	}
}
@import './overviewResponsive';
