.overview {
	@include setFlex(column, center, center);

	position: relative;
	padding: 0 2rem;
	padding-top: 1rem;
	padding-bottom: 0;
	width: 100%;
	flex: 1;
	overflow: auto;

	&-loading {
		@include customLoading(getColors(btn-status-working));
	}

	&-container {
		@include setFlex(column, flex-start, center);
		min-height: min-content;
		height: 100%;
		width: 100%;

		button {
			outline: none;
			border: none;
			background: getColors(btn-status-working);
			padding: 0.2rem 0.3rem;
			border-radius: 1rem;
			color: white;
			text-transform: capitalize;

			@include responsiveHover {
				opacity: 0.8;
			}
		}

		&__header {
			@include setFlex(column, center, flex-start);
			position: relative;
			width: 100%;
			padding-bottom: 0.5rem;
			border-bottom: 1px solid;
			border-color: getColors(fade-selected);

			&-title {
				font-family: $sub;
				letter-spacing: 0.1rem;
				text-transform: uppercase;
				margin: 0.4rem 0;
				margin-right: 1rem;
			}

			&-owned-projects {
				@include setFlex(column, center, flex-start);
				ul {
					margin-left: 1rem;
					text-transform: capitalize;
					font-weight: 600;
				}
			}
			.group {
				font-weight: 600;
				span {
					margin: 0 0.2rem;
				}

				.highlight {
					font-weight: bold;
				}

				button {
					margin-left: 1rem;
				}
			}
		}
		&__body {
			@include setFlex(column, flex-start, center);
			overflow-y: auto;
			max-height: 65vh;
			width: 100%;
			padding: 0.5rem 0;

			@include customScrollbar;

			&-project {
				@include setFlex(row, center, center);

				min-width: 0;
				width: 40vw;
				margin-bottom: 0.2rem;
				padding: 0.3rem 1.5rem;
				background-color: getColors(primary);
				color: white;
				border-radius: 0.5rem;

				&__title {
					flex: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					text-transform: capitalize;
				}

				&__avatar {
					@include customAvatarFallbackSpan(2.5rem);

					margin-right: 1rem;
				}

				&__buttons {
					button {
						width: 4.5rem;
						font-weight: 600;
						&:first-child {
							margin-right: 0.5rem;
						}
						&:nth-child(2) {
							background: getColors(fade-selected);
							color: black;
						}
					}
				}
			}
			position: relative;
		}
	}
}
@import './overviewResponsive';
