.overview {
	@include setFlex(column, center, center);

	position: relative;
	padding: 0 2rem;
	padding-top: 1rem;
	padding-bottom: 0;
	width: 100%;
	flex: 1;
	overflow: auto;

	&-loading {
		@include customLoading(getColors(btn-status-working));
	}

	&-container {
		@include setFlex(column, flex-start, center);

		min-height: min-content;
		height: 100%;
		width: 100%;

		&__header {
			@include setFlex(column, center, flex-start);

			position: relative;
			width: 100%;
			padding-bottom: 0.5rem;
			border-bottom: 1px solid;
			border-color: getColors(fade-selected);

			&-title {
				font-family: $sub;
				letter-spacing: 0.1rem;
				text-transform: uppercase;
				margin: 0.4rem 0;
				margin-right: 1rem;
			}

			&-owned-projects {
				@include setFlex(row, center, center);

				.show-list {
					font-size: 1.5rem;
					@include responsiveHover() {
						color: getColors(btn-status-working);
					}
				}
			}
			.group {
				font-weight: 600;
				span {
					margin: 0 0.2rem;
				}
			}
		}
		&__body {
			@include setFlex(column, flex-start, center);
			@include customScrollbar;

			position: relative;
			overflow-y: auto;
			max-height: 65vh;
			width: 100%;
			padding: 0.5rem 0;

			&-project {
				@include setFlex(row, center, center);

				min-width: 0;
				width: 60vw;
				margin-bottom: 0.2rem;
				padding: 0.3rem 1.5rem;
				background-color: getColors(primary);
				color: white;
				border-radius: 0.5rem;

				&__title {
					flex: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					text-transform: capitalize;
				}

				&__avatar {
					@include customAvatarFallbackSpan(2.5rem);

					margin-right: 1rem;
				}

				&__buttons {
					button {
						width: 2rem;
						font-weight: 600;
						text-align: center;

						i {
							font-size: 1.2rem;
							margin-right: 0.3rem;
							width: 100%;
						}

						span {
							display: none;
						}

						&:first-child {
							color: white;
							background: getColors(btn-status-working);
						}

						&:nth-child(even) {
							margin: 0 0.5rem;
						}

						@include defaultButtonWithHover(black, getColors(fade-selected)) {
							transition: 100ms linear;
							color: white;
							background: getColors(btn-status-working);
						}
					}
				}
			}
		}
	}
}
@import './overviewResponsive';
